.list {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  color: rgba(64, 103, 191, .9);
}

.list :global(.ant-list-item) {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
  border: 1px solid rgba(64, 103, 191, .3) !important;
  border-radius: 10px;
  margin-bottom: 20px;
}

.list :global(.ant-list-item):last-child {
  margin-bottom: 0px
}

.list :global(.ant-list-items) {
  padding: 0;
}

.list :global(.ant-list-item-meta) {
  width: 50%;
}

.list :global(.ant-list-item-meta-content) {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.headerList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonAdd {
  box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
  border: 1px solid rgba(64, 103, 191, .3);
  border-radius: 10px !important;
  color: rgba(64, 103, 191, .9);
  font-weight: 600;
}

.buttonAdd:hover,
.buttonAdd:focus {
  border: 1px solid rgba(64, 103, 191, .3);
  color: rgba(64, 103, 191, .9);
}

.button:global(.ant-btn-icon-only) {
  border: none;
  background-color: transparent;
}

.button :global(.anticon) {
  font-size: 20px;
  color: rgba(64, 103, 191, .9);
}

.input :global(.ant-input-group) {
  position: relative;
}

.input :global(.ant-input-search-button) {
  border: none;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 1;
  color: rgba(64, 103, 191, .6);
}

.input :global(.ant-input) {
  box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
  border: 1px solid rgba(64, 103, 191, .3);
  height: 30px;
  border-radius: 10px !important;
  padding-left: 5px;
  color: rgba(64, 103, 191, .9);
  outline: none;
}

.input ::-webkit-input-placeholder {
  color: rgba(64, 103, 191, .6);
}

.input :global(.anticon-search) {
  transition: none !important;
}

.input :global(.ant-input-group-addon) {
  left: 0 !important;
}

.input:global(.ant-input-group-wrapper) {
  width: 50%;
}

.title {
  margin: 0 0 20px 0;
  color: rgba(64, 103, 191, .9);
  text-align: left;
}

.wrap {
  box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
  border: 1px solid rgba(64, 103, 191, .3);
  border-radius: 10px;
  width: 80%;
  padding: 20px 20px 25px 20px;
  height: 80%;
  margin-top: 50px;
}

.wrapperTitle {
  margin-bottom: 20px;
}